.fz-fab-small{
	display: block !important;
	color: red !important;
}
.fz-table{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.fz-table thead tr th{
	font-weight: bold !important;
}
.fz-table thead tr th h1{
	text-align: left !important;
}
.fz-td-1{
	font-weight: bold !important;
	width: 222px !important;
}
.fz-td-2{
	width: 160px !important;
}
.fz-error{
	color: red !important;
	display: block !important;
}
.fz-form-element{
	width: 240px !important;
	height: 30px !important;
	font-size: 15px !important;
}
.fz-fab-sub-btn-titles{
	width: 95% !important;
	height: 32px !important;
	font-size: 15px !important;
}
.fz-fab-sub-btn-contents{
	width: 360px !important;
	height: 30px !important;
	font-size: 15px !important;
}
#fz-fab-main-btn-preview-img{
	border-radius: 100% !important;
	width: 64px !important;
	height: 64px !important;
}
.fz-fab-sub-btn-preview-img{
	border-radius: 50% !important;
	width: 48px !important;
	height: 48px !important;
}
.fz-fab-sub-btn-sort{
	cursor: move;
	opacity: 0.7;
}
.fz-fab-sub-btn-sort:hover{
	opacity: 1;
}
.fz-fab-sub-btn-rm{
	color: red !important;
	cursor: pointer !important;
	opacity: 0.7 !important;
}
.fz-fab-sub-btn-rm:hover{
	opacity: 1 !important;
}
#fz-fab-sub-btns-tbody label{
	font-weight: bold !important; 
	display: block !important;
	text-align: left !important;
	padding-left: 10px !important;
}
#fz-fab-sub-btns-tbody tr td{
	vertical-align: middle !important;
	border-bottom: 1px #ccc solid !important;
}
.fz-fab-add-sub-btn-link{
	opacity: 0.7 !important;
	margin-right: 7px !important;
	display: inline-block !important;
	border-radius: 50% !important;
	width: 64px !important;
	height: 64px !important;
}    
.fz-fab-add-sub-btn-link:hover{
	cursor: pointer !important;
	opacity: 1 !important;
}
.wp-picker-holder{
	position: absolute !important;
	z-index: 9999 !important;
}
.wp-picker-input-wrap{
	display: none !important;
}